<a href="https://colab.research.google.com/github/YoshieTatsuta/NEXT_Practice/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import os

#os.chdir("C:\Users\PC-0043\Desktop\ytatsuta\")

#東京の週間天気のURL
url ="https://www.jma.go.jp/jp/week/319.html"

dfs = pd.read_html(url)

In [59]:
#データの加工
df = dfs[4]
#最初の5行だけ抽出
df = df[:5]
#2行目、3行目削除
#df2 = df[:5].drop([1,2])
#　T　行と列を入れ替え
df = df[:5].drop([1,2]).T.reset_index()
#df2 = df.drop([0,1]).reset_index()
df = df.drop([0,1]).reset_index(drop = True)

df.columns = ['日付','天気','最高気温','最低気温']

df['最高気温'] = [x.split('  (')[0] if ('(' in x) == True else x for x in df['最高気温']]
df['最低気温'] = [x.split('  (')[0] if ('(' in x) == True else x for x in df['最低気温']]

#print(dfs[4].head())

print(df)
#print(df2)

   日付    天気 最高気温 最低気温
0  1水  雨のち曇   26   23
1  2木  曇時々晴   31   24
2  3金  曇一時雨   28   21
3  4土  曇一時雨   25   20
4  5日  曇一時雨   28   21
5  6月     曇   31   23
6  7火     曇   32   24